/********** Custom Fonts **********/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Recursive:wght@300..1000&display=swap');

body {
    font-family: 'Cairo', sans-serif !important;
    background-color: #fafafa !important;
}

.preloader {
    width: max-content;
    height: 300px;
}
/********** Template CSS **********/
:root {
    --primary: #3f1194;
    --light: #e4ddf7;
    --green: #60f3d6;
    --dark: #181d38;
    --yellow: #ffeb61;
    --red: #ff5656;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 50px;
    border-radius: 50% !important;
    background-color: var(--red) !important;
    border-color: var(--bs-red) !important;
    z-index: 99;
}
.back-to-top:hover {
    background-color: var(--bs-red) !important;
}

.whatsapp {
    position: fixed;
    background-color: #4fce5d;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 8px;
    border-radius: 50%;
    right: 45px;
    bottom: 50px;
    z-index: 999;
    transition: all .2s ease-in-out;
}
.whatsapp:hover {
    color: #fff;
    transform: scale(1.1);
}
@media (max-width: 767px) {
    .back-to-top,
    .whatsapp {
        right: 25px !important;
    }
}
.progwhats {
    bottom: 120px;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 999999999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Cairo', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}

/* Intro */
/* .intro {
    background-color: #60f3d6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 3px solid var(--primary);
} */
.flags {
    padding: 15px;
    z-index: 99999;
}
.flags img {
    width: 25px;
    height: 15px;
    margin-right: 5px;
    margin-bottom: 3px;
}
.flags a {
    color: var(--dark);
}
.langs a {
    display: block;
    width: 100% !important;
    padding-left: 10px;
    transition: all .2s ease-in-out;
}
.langs a:hover {
    background-color: #fff;
    padding-left: 15px;
}
.langs {
    font-size: 18px;
    /* margin-top: -5px !important; */
    margin-left: 10px !important;
    color: #fff;
    background-color: var(--light);
}
@media (min-width: 1192px) {
    .langs {
        top: 120% !important;
        margin-left: 0 !important;
    }
}
.langs a:first-of-type {
    margin-bottom: 10px;
}
.dropdown-menu[data-bs-popper] {
    margin-top: -.05rem !important;
}
.langsminus {
    margin-top: -5px !important;
    margin-left: 10px !important;
    border-radius: 2px !important;
}

/* .intro .countries {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.intro .countries a:not(.countries a:last-of-type) {
    border-right: 1px solid var(--dark);
    padding-right: 8px;
}
.intro .countries a {
    text-align: center;
}
.intro .countries img {
    width: 25px;
    height: 15px;
    margin-bottom: 3px;
    margin-right: 5px;
} */

/* Intro */

.aboutList li {
    font-size: 16px;
    margin-bottom: 10px;
    list-style: none;
}
.aboutList li:before {
    content: "\2705";
    margin-right: 5px;
}


/*** Navbar ***/
.logo {
    width: 150px;
    height: 30px;
    padding-left: 25px;
}
.footerlogo {
    width: 150px;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 17px;
    text-transform: capitalize;
    outline: none;
}
.navbar-toggler {
    border-color: transparent !important;
    color: var(--primary) !important;
    font-size: 26px;
}
.navbar-toggler i{
    transition: all .3s ease-in-out;
}
.navbar-toggler:focus {
    box-shadow: none !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}
.navbar-light .navbar-nav .nav-link.active {
    font-weight: 650;
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 80px;
    display: flex !important;
    align-items: center;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .dropdown-menu.fade-down {
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header carousel ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-nav {
        bottom: 5px;
        top: unset !important;
        flex-direction: row !important;
        gap: 10px;
    }
    .card-body .price a {
        padding: 5px 10px !important;
    }
}

.hero {
    max-width: 250px;
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    height: 450px;
    display: flex;
    align-items: center;
}
/* @media (max-width: 767px) {
    .page-header {
        height: 350px;
    }
} */
.page-header.aboutH {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/1.من\ نحن.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-header.coursesH {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/التخصصات.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-header.uniH {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/الجامعات.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-header.teamH {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/1.من\ نحن.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-header.testiH {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/تواصل\ معنا.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-header.contactH {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/contact\ us.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}
.breadcrumb-item a:hover {
    transition: color .25s ease-in-out;
    color: var(--green) !important;
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--green);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--green);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


/*** Service ***/
.service-item {
    background: var(--light);
    transition: .5s;
}

.service-item:hover {
    margin-top: -10px;
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}

.greenreg {
    background-color: var(--green) !important;
    border-color: var(--green) !important;
    color: var(--dark) !important;
    font-family: 'Cairo', sans-serif !important;
    font-size: 18px;
    transition: all .3s;
    height: 80px;
    display: flex !important;
    align-items: center;
}
/* .greenreg:hover {
    color: var(--primary) !important;
} */
.greenreg:hover i {
    transform: translateX(8px);
}
.greenreg i {
    transition: transform .3s;
    color: var(--dark) !important;
}

/* FAQ */
.faq {
    background-color: var(--primary) ;
    width: 100% !important;
    margin-top: 50px;
}
.faq2 .form {
    box-shadow: 0 6px 20px rgba(0,0,0,.10196);
    padding: 25px;
    border-radius: 10px;
    border: 1px solid var(--light);
    margin-top: 50px;
    padding: 50px;
}

.faq .get-in-touch {
    color: white;
    padding: 15px;
    position: relative;
    overflow: hidden;
    /* border-radius: 25px; */
}
.faq h2 {
    color: #fff;
}
.faq h3 {
    color: var(--green);
    margin-bottom: 20px;
}
.faq .get-in-touch .col-md-6::before {
    background-color: #181d38 ;
    width: 150vw;
    left: -50vw;
    top: -15px;
    height: calc(100% + 20px);
    position: absolute;
    content: "";
    z-index: -1;
}
.faq ul li {
    margin-bottom: 8px;
    font-size: 18px;
}
@media (max-width: 767px) {
    .faq ul {
        margin-bottom: 50px;
    }
    .faq ul li {
        font-size: 16px;
    }
}
.faq ul li i {
    color: #fff;
    background-color: #4fce5d;
    font-size: 14px;
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px !important;
}
.faq .form {
    background-color: #fff;
    padding: 25px;
    /* border-radius: 10px; */
    color: var(--dark);
}

.faq .form h3 {
    color: var(--bs-red);
}
.faq .form .register {
    border-radius: 8px;
    background-color: var(--bs-red);
    border-color: var(--red);
    transition: background-color .2s ease-in-out;
}
.faq .form .register:hover {
    background-color: var(--red);
}

.detform {
    text-align: center;
}
.detform h4 {
    margin-bottom: 0;
    color: var(--primary);
    font-weight: 800;
}
.detform p {
    margin-bottom: 2rem;
}
.detreg {
    border-radius: 5px;
    width: 150px;
}
.detreg i {
    padding-left: 5px;
}
@media (max-width: 767px) {
    .detform h4 {
        margin-bottom: 8px;
    }
    .detform p {
        font-size: 16px;
    }
    .send {
        justify-content: center !important;
    }
    .send .detreg {
        width: 100%;
    }
}
/* FAQ */

/*** Categories & Courses ***/

.hcard {
    position: relative;
    box-shadow: 0 6px 20px rgba(0,0,0,.10196);
    overflow: hidden;
    border-radius: 10px;
}
.hcard img {
    width: 100%;
    height: 200px;
    filter: blur(2.5px);
    transition: all .4s ease-in-out;
}
.hcard .overlay {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(24, 29, 56, 0.37), rgba(24, 29, 56, 0.459));
    /* border-radius: 10px; */
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    font-size: 16px;
    transition: height .5s;
}

.hcard .overlay h3 {
    color: #fff;
    transition: color .3s ease-in-out;
}

.hcard .overlay p{
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}

.hcard:hover img {
    transform: scale(1.17);
    filter: blur(0);
}

.hcard:hover .overlay h3 {
    color: var(--yellow);

}

/* .hcard {
    box-shadow: 0 6px 20px rgba(0,0,0,.10196);
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 25px;
    padding: 25px 15px;
    border-radius: 15px;
    margin-bottom: 25px;
    cursor: pointer;
    transition: transform .2s ease-in-out;
}

.hcard .img {
    padding: 15px;
    border-radius: 10px;
    background-color: #60f3d625;
    width: 110px;
    height: 110px;
}
.hcard .img img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}
.hcard .content p {
    margin-bottom: 0;
}
.hcard .content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.hcard:hover {
    box-shadow: 0 1rem 1rem rgba(0,0,0,.175);
    transform: translateY(-5px);
} */

/*** Team ***/
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 25px;
    height: 4px;
    border: 1px solid #ddd;
    background-color: #ddd;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}

/* Counters */
.counters .row {
    justify-content: space-around;
    align-items: center;
    text-align: center;
    /* background-color: var(--light); */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 20px;
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 50px;
    border: 1px solid var(--light);
    transition: all .3s ease-in-out;
}
.counters .row:hover {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    transform: scale(1.01);
}
.counters .counter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    width: max-content;
}
.counters .counter i {
    font-size: 28px;
    color: var(--bs-red);
    margin-bottom: 5px;
    font-weight: bold;
}
.counters .counter span {
    font-size: 24px;
    color: var(--primary);
    font-weight: 575;
}
.counters .counter p {
    font-size: 19px;
    color: var(--dark);
    margin-bottom: 0 !important;
}

@media (max-width: 767px) {
    .counters .row {
        flex-direction: row;
        justify-content: space-between;
    }
}
@media (max-width: 366px) {
    .counters .row {
        justify-content: space-around;
    }
    .counters .counter {
        margin-bottom: 15px;
    }
}

/* Counters */

/*** Footer ***/
.minus {
    margin-bottom: -2px;
}
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    color: var(--light) !important;
    font-weight: normal !important;
    border: 1px solid #FFFFFF;
    background-color: transparent !important;
    margin-bottom: 0 !important;
    font-size: 14px !important;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary) !important;
    background-color: #fff !important;
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
    color: var(--green);
}
.footer .author:hover {
    color: var(--green);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

/* University */


.allwrps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}
.allwrps.gapp {
    gap: 8px 20px;
}
.allwrps.det {
    gap: 10px;
}
@media (min-width: 1440px) {
    .allwrps {
        max-width: 1350px !important;
    }
}
.center {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card {
    width: 400px !important;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.card.cardRes {
    width: auto !important;
}

.card:hover {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    transform: translateY(-5px) !important;
}

.card img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-title {
    color: var(--primary);
    text-align: left;
}
h1, h2, h3, h4, h5 {
    font-family: 'Cairo', sans-serif !important;
}
.blogTitle {
    color: var(--dark);
    font-weight: 600;
}
.explore {
    background-color: transparent !important;
    color: var(--primary) !important;
    border-radius: 10px !important;
}
.explore:hover {
    background-color: var(--primary) !important;
    color: #fff !important;
}
.card-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}
@media (max-width: 365px) {
   .intro .countries  {
        display: none !important;
    }
}
@media (max-width: 540px) {
    .intro .countries span {
        display: none;
    }
    .card img {
        height: 150px;
    }
    .card-text {
        /* justify-content: center; */
        flex-wrap: wrap;
    }
    /* .scholarship .img img {
        width: 90px !important;
        height: 90px !important;
    } */
}
@media (max-width: 767px) {
    .card img {
        height: 175px;
    }
}
.card-text img {
    border-radius: 0;
}
.card-text span {
    background-color: #60f3d625;
    border-radius: 5px;
    color: var(--dark);
    font-weight: 600;
    padding: 5px 15px;
    display: flex;
    gap: 5px;
    align-items: center;
}
.card-body img {
    width: 25px;
    height: 15px;
}
.card-body .degree {
    height: 20px;
    width: 20px;
}

.card-body .price {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
    padding: 10px 10px 0;
    /* border-top: 1px solid var(--light); */
}
.card-body .price p {
    margin-bottom: 0 !important;
    color: var(--primary);
    font-weight: bold;
    font-size: 22px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 3px;
}
.card-body .price p span {
    color: #707070;
    font-weight: 500;
    font-size: 14px;
}

/* .card-body .price a {
    background-color: var(--primary);
    color: var(--light);
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500 !important;
    border-radius: 8px;
    transition: background-color .2s ease-in-out;
}
.card-body .price a:hover {
    background-color: #5f25eb;
} */


.btns {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 15px;
}

.btns img {
    width: 25px;
    height: 15px;
}

.btns button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 15px 35px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
    transition: .3s;
}

.btns button:hover,.btns button.active {
    background: var(--primary);
    color: #fff;
}

.seeAll {
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.seeAll i {
    margin-left: 5px;
}

/* Details */
.uni8 {
    /* box-shadow: 0 6px 20px rgba(0,0,0,.10196); */
    padding: 15px;
    border-radius: 10px;
    border: 1px solid var(--light);
    margin-bottom: 25px;
}
.uni8 .uimg {
    width: 100%;
    height: 300px;
    border-radius: 5px;
}
.uni8 .unimg {
    padding: 15px;
    border-radius: 5px;
    background-color: #60f3d625;
    margin-bottom: 1rem;
}
.uni8 .content {
    padding-left: 15px;
    /* border-bottom: 1px solid var(--light); */
}
.imgbutton {
    position: relative;
}
.imgbutton button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 12px 25px !important;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.uni8 .content p, .uni8 .content a {
    color: gray !important;
    font-size: 18px;
}
.uni8 .content p span {
    color: var(--dark);
}
.uni8 .content p span i {
    margin-right: 8px;
}


.uni4 {
    box-shadow: 0 6px 20px rgba(0,0,0,.10196);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid var(--light);
}
.modal-header {
    border-bottom: none;
}
.modal-header button {
    font-size: 22px;
}
.modal-content {
    background-color: transparent !important;
    border: none;
}
.imgbox {
    position: relative;
    /* background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/1.من\ نحن.png); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}
.imgbox.height {
    height: 325px !important;
}
.imgbox.height .play {
    top: 35% !important;
}
.imgbox .play {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: #fff;
    font-size: 48px;
    transition: color .2s ease-in-out;
}
.imgbox.img2 {
    height: 100%;
}
.imgbox.img2 i {
    top: 40%;
}
.imgbox img {
    width: 100%;
    height: 100%;
    transition: transform .2s ease-in-out;
}
.img2 {
    border-radius: 5px;
}
.img2 img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
/* .imgbox img:hover {
    transform: scale(1.125);
} */
.imgbox:hover .play {
    color: var(--green) !important;
}
.uni4 .content p {
    margin-bottom: 0 !important;
}
.uni4 .content .price {
    color: var(--dark);
    font-size: 18px;
}
.priceList i {
    margin-left: 5px !important;
    margin-right: 8px;
}
.uni4 .content .price select {
    cursor: pointer;
}
/* .uni4 .content .price select option:hover {
    background-color: var(--primary) !important;
    cursor: pointer;
} */
.offer {
    background-color: var(--green);
    color: var(--dark);
    padding: 10px 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
@media (min-width: 991px) and (max-width: 1200px) {
    .uni4 .content .offer {
        padding: 10px !important;
    }
}
@media (max-width: 767px) {
    .uni .row {
        flex-direction: column-reverse;
    }
    .uni .uimg,
    .uni .rmd,
    .uni .box2 {
        display: none;
    }
    /* .uni8 .imgbutton button {
        position: unset;
        padding: 10px 25px !important;
    } */
    .uni4 {
        margin-bottom: 25px;
    }

    .startsm {
        justify-content: flex-start;
    }
}

.uni4 .content .stats {
    padding-left: 10px;
}

.uni4 .content .stats p {
    color: var(--dark);
    font-size: 18px;
}
.uni4 .content .stats p i {
    color: var(--primary);
    font-size: 22px;
    margin-right: 5px;
}
.uni4 .content .stats p span {
    color: gray;
    font-size: 16px;
}
.uni4 .content .reg a {
    padding: 10px;
    background-color: var(--primary);
    border-radius: 8px;
    color: #fff;
    transform: all .2s ease-in-out;
}
.uni4 .content .reg a:hover {
    background-color: #5f25eb;
}

.uni4 .title {
    font-size: 18px;
}

.dcard {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 25px;
    padding-top: 25px;
    border-radius: 15px;
    margin-bottom: 25px;
    cursor: pointer;
    transition: transform .2s ease-in-out;
}

.dcard .img {
    padding: 15px;
    border-radius: 10px;
    background-color: #60f3d625;
    width: 110px;
    height: 110px;
}
.dcard .img img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}
.dcard .content p {
    margin-bottom: 0;
}
.dcard .content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.dcard .content i {
    color: var(--primary);
}
/* Details */

.info-list {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 0 10px;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--light);
}
.info-list li {
    position: relative;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: color .2s ease-in-out;
}
@media (max-width: 767px) {
    .info-list {
        display: block;
    }
    .info-list li.active {
        background-color: var(--light);
    }
}
.info-list li:hover {
    color: var(--primary);
}
.info-list li.active {
    /* background-color: var(--light); */
    border-bottom: 2px solid var(--primary);
    color: var(--primary);
}

.info-content > .accordion-item {
    padding: 20px;
    line-height: 2;
}
.info-content > .accordion-item:not(:first-of-type) {
    display: none;
}

.accordion-item i {
    vertical-align: middle;
    margin-right: 10px;
}
.accordion-button {
    font-size: 20px;
}

.accordion-body .title {
    color: var(--primary);
    font-weight: bold;
}
.accordion-body .subtitle {
    color: var(--primary);
}


::marker {
    font-size: 20px !important;
    color: var(--primary);
}

/* Sub List */

.info-list2 {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    list-style: none;
    display: flex;
    gap: 0 8px;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--light);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-color: var(--light);
}
.info-list2 li {
    position: relative;
    padding: 10px 10px 5px;
    font-size: 16px;
    cursor: pointer;
    transition: color .2s ease-in-out;
}
@media (max-width: 767px) {
    .info-list2 {
        display: block;
    }
    .info-list2 li.active {
        background-color: var(--light);
    }
    .unibox {
        display: block !important;
    }
    .unibox .period {
        text-align: left !important;
    }
}
.info-list2 li:hover {
    color: var(--primary);
}
.info-list2 li.active {
    /* background-color: var(--light); */
    border-bottom: 2px solid var(--primary);
    color: var(--primary);
}

.info-content2 > .accordion-item {
    padding: 20px;
    line-height: 2;
}
.info-content2 > .accordion-item:not(:first-of-type) {
    display: none;
}

.unibox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--light);
    font-size: 16px;
    padding: 10px;
}
.unibox .name {
    width: 200px;
}
.info-content2 .title {
    background-color: #60f3d625;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    margin: 10px 0;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.info-content2 .title img {
    width: 35px;
}
.unibox .period {
    text-align: center;
}
.unibox .country img {
    width: 25px;
    height: 15px;
    margin-right: 5px;
}
.unibox .price span {
    text-decoration: line-through;
    color: gray;
}



/* table */

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: var(--primary) !important;
  /* font-weight: 800; */
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--primary);
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}


/* Scholarship */
.scholarship {
    box-shadow: 0 6px 20px rgba(0,0,0,.10196);
    padding: 25px 15px;
    border-radius: 15px;
    margin-bottom: 25px;
}

.scholarship .img {
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 10px;
    justify-content: flex-start;
}
.scholarship .img img {
    width: 65px;
    height: 65px;
    background-color: #fff;
    border-radius: 50%;
    vertical-align: middle;
}
.scholarship .info {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.scholarship .info p {
    font-size: 18px;
}
.scholarship .major {
    width: 200px;
    word-wrap: break-word;
}
.discount .offer {
    width: 125px;
    padding: 15px;
}
.major,
.language,
.fees,
.discount {
    display: flex;
    flex-direction: column;
}

.btns {
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}
.btns a {
    text-align: center;
    cursor: pointer;
}
.btns .view {
    padding: 10px 25px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
    transition: all .3s ease-in-out;
}
.btns .view:hover {
    background-color: var(--primary);
    color: #fff;
}
.btns .btn-primary {
    padding: 10px 25px;
    border-radius: 8px;
}

@media (max-width: 767px) {
    .scholarship .img {
        justify-content: center;
    }
    .scholarship .info {
        justify-content: space-between;
    }
    .scholarship .btns {
        justify-content: center;
        align-items: flex-end;
    }
    .scholarship .btns a {
        width: 100%;
    }
}
/* Scholarship */


/* Registration */
.reg .btn-primary {
    padding: 13px 50px;
    border-radius: 10px;
    font-size: 20px;
}
.reg img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}
.regmg {
    border-radius: 10px;
}
.regcont {
    border-radius: 8px;
}
@media (max-width: 767px) {
    .reg img {
        margin-top: 25px;
    }
    .reg .btn-primary {
        padding: 10px 40px;
    }
}
/* Registration */


/* Carousel Modal */
.carousel-item img {
    width: 100%;
    height: 300px;
}
/* Carousel Modal */

/* Blog */

.blog {
    margin-top: 50px;
}
.blog .paragraph, .blog .date {
    color: gray;
    font-size: 16px;
}

.blog .card {
    width: auto !important;
    text-align: left !important;
}
.blog .col-md-7 .card img {
    height: auto !important;
}
.blog .col-md-7 .card .card-title {
    color: var(--dark) !important;
    transition: color .2s ease-in-out;
}
.blog .col-md-7 .card:hover .title2 {
    color: var(--primary) !important;
}
.card-foooter .name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--dark);
    font-weight: 600;
}
.card-foooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-foooter img {
    width: 50px;
}

.blog-5 {
    border: 1px solid var(--light);
    border-radius: 10px;
    text-align: left;
    padding: 20px;
    margin-bottom: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all .3s ease-in-out;
    cursor: pointer;
    box-shadow: 0 6px 20px rgba(0,0,0,.10196);
}
.blog-5:hover {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    transform: translateY(-5px);
}
.blog-5:hover .title2 {
    color: var(--primary);
}
.blog-5 .blog-header img {
    width: 150px;
    height: 75px;
}
.blog .blog-header {
   display: flex;
   justify-content: space-around;
   align-items: flex-start;
   gap: 25px;
}

.line-clamp-2, .line-clamp-3 {
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
}
.line-clamp-2 {
    -webkit-line-clamp: 2;
}
.line-clamp-3 {
    -webkit-line-clamp: 3;
}

.menu u {
    color: var(--dark) !important;
    font-weight: 600 !important;
    text-decoration: none !important;
    transition: all .2s ease-in-out !important;
}
.menu u:hover {
    color: var(--primary) !important;
    font-weight: 800 !important;
}


.closeFilter {
    cursor: pointer;
}

.detUniversity {
    margin-bottom: 50px;
    border: 1px solid var(--light);
    border-radius: 10px;
    padding: 20px;
}

.card.new {
    position: relative;
    /* border-radius: 25px !important; */
    /* border-color: var(--green) !important; */
    margin-bottom: 25px;
    overflow: hidden;
}
.card.new img {
    /* border-radius: 25px !important; */
    height: 175px;
}

.card.new .majorr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    gap: 6px;
    align-items: center;
    position: absolute;
    top: 20px;
    left: -37px;
    transform: rotate(-45deg);
    background-color: var(--bs-red);
    padding: 3px 10px;
    text-align: center;
    font-weight: 525;
    color: #fff;
}
.card.new span i {
    color: #fff;
}
.llogo {
    position: absolute;
    background-color: #fff;
    padding: 8px;
    border-radius: 50%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -65%);
    margin-bottom: 50px;
}
.llogo img {
    width: 50px;
    height: 50px !important;
}
@media (max-width: 767px) {
    .llogo img {
        width: 60px !important;
        height: 60px !important;
    }
}

.card-title.new {
    text-align: left;
    font-weight: bold;
    font-size: 22px;
    margin-top: 25px;
}

.card.new .place {
    color: var(--bs-red) !important;
    font-weight: 600;
    text-align: center;
}
.card.new .place i {
    margin-right: 5px;
}

.card.new .viewIt {
    border-radius: 8px;
    /* margin-left: auto; */
    background-color: transparent !important;
    color: var(--primary) !important;
    font-weight: 550 !important;
    font-size: 16px;
    padding: 7px 20px !important;
}
.card.new .viewIt:hover {
    background-color: var(--primary) !important;
    color: #fff !important;
    border-color: var(--primary) !important;
}

.card.new .top .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: var(--dark);
    border-top: 1px solid #dddddd8a;
    border-bottom: 1px solid #dddddd8a;
    padding: 13px;
}
.card.new .top .info p {
    margin-bottom: 0;
}
.card.new .top .info i {
    margin-right: 8px;
    color: var(--bs-red);
}

.card.new .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: column;
}
.card.new .top .offer {
    font-size: 16px;
    font-weight: 550 !important;
    background-color: var(--red) !important;
    color: #fff;
    padding: 6px 20px !important;
    border-radius: 6px;
}

.card.new .price span {
    /* border: none !important; */
    /* flex-direction: row-reverse; */
    color: #707070;
}


.menu .active u {
    width: 100% !important;
    color: var(--primary) !important;
    font-weight: bold !important;
}

.viewPhotos {
    background-color: var(--red);
    color: #fff;
    border-color: var(--red);
}
.viewPhotos:hover {
    background-color: #ff5656a2 !important;
    border-color: var(--green);
}

.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-dialog .carousel,
.modal-dialog .modal-content {
    width: auto;
    height: 400px;
}
    
.modal-content .carousel-item img {
    width: auto !important;
    min-height: 300px !important;
}

/* .modal-content video {
    width: 350px !important;
    min-height: 400px !important;
} */

@media (min-width: 992px) {
    .modal-dialog .modal-content video {
        width: 800px;
    }

    .modal-dialog .carousel,
    .modal-dialog .modal-content {
        width: 850px;
        height: 650px;
    }
    
    .modal-content .carousel-item img {
        width: 850px !important;
        height: 600px !important;
    }
    .carousel-control-next {
        right: -100px;
    }
    .carousel-control-prev {
        left: -100px;
    }
}

/* Programs */

.filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
.filters .btn-group button {
    padding: 10px 25px;
    font-size: 17px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filters .btn-group .btn-bs-red {
    background-color: transparent;
    border: 1px solid var(--bs-red);
    transition: all .25s;
}
.filters .btn-group .btn-bs-red:active,
.filters .btn-group .btn-bs-red:hover,
.filters .btn-group .btn-bs-red:focus {
    background-color: var(--bs-red);
    box-shadow: none;
    color: #fff;
}
.filters .dropdown-item {
    padding: 8px 10px;
    font-size: 16px;
    /* margin-bottom: 3px; */
}

.search {
    display: flex;
    justify-content: center;
}
.search .search-form {
    position: relative;
    margin-bottom: 35px;
}
.search input {
    width: 500px;
    padding: 12px 18px;
    border-radius: 8px;
    caret-color: var(--bs-red);
}
@media (max-width: 767px) {
    .search input {
        width: 300px;
    }
}
.search input:focus {
    box-shadow: none;
    border-color: var(--bs-red);
}
.search .btn-danger {
    position: absolute;
    top: 50%;
    right: 0;
    padding: 0 18px;
    height: 100%;
    border-radius: 5px;
    transform: translateY(-50%);
    transition: all .3s;
}